/* =============
    Variables
============= */

// Colors vars
:root {
  --lightModeBkg: white;
  --lightModePrimary: #2b2d2f;
  --darkModeBkg: #212121;
  --darkModePrimary: white;

  /*other colors*/
  --accentBlue50: #5266D9;
  --gray: #999999;
  --DNmagenta: #EA008A;

  /*other*/
  --rhythm: 1.5rem;
}