/* =============
    Variables
============= */

// Small tablets and large smartphones
$screen-sm-min: 576px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Colors vars
:root {
  --lightModeBkg: white;
  --lightModePrimary: #2b2d2f;
  --darkModeBkg: #212121;
  --darkModePrimary: white;

  /*other colors*/
  --accentBlue50: #5266D9;
  --gray: #999999;
  --DNmagenta: #EA008A;

  /*other*/
  --rhythm: 1.5rem;
}