/* =============
    Base
============= */
* {
    box-sizing: border-box;
    margin: 0;
}

ul.blankList {
    list-style: none;
    padding: 0;
}

.bulletFix {
    list-style-type: disc !important;
}

img {
    height: 100%;
    width: auto;
    max-width: 100%
}

body {
    background-color: var(--lightModeBkg);

    @include lg {
        display: grid;
        grid-template-areas: "header main";

        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }

    main {
        display: flex;
        flex-direction: column;
        grid-area: main;
        gap: var(--rhythm);
        margin: 0 var(--rhythm);

        section {
            align-items: flex-start;
            align-self: stretch;
            display: flex;
            flex-direction: column;

            &.title {
                width: 100%;
                gap: 16px;
                justify-content: center;

                & h1,
                & p {
                    align-self: stretch;
                    text-align: center;

                    @include lg {
                        align-self: auto;
                        text-align: left;
                    }
                }
            }
        }

        .gallery {
            display: flex;
            flex-direction: column;
            gap: var(--rhythm);

            img {
                width: 100%;
            }

            &.noGap {
                gap: 0;
            }

            @include sm {
                display: grid;

                &.twoColumn {
                    grid-template-columns: repeat(2, 1fr);
                }

                &.threeColumn {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            &#mainGallery {}

            &#archive {}
        }
    }
}