/* =============
    Base
============= */
* {
    box-sizing: border-box;
    margin: 0;
}

ul.blankList {
    list-style: none;
    padding: 0;
}

.bulletFix {
    list-style-type: disc !important;
}

img {
    height: 100%;
    max-width: 100%;
    width: auto;
}

#icon {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: center;
    overflow: hidden;
    width: 24px;

    div {
        background: url("/assets/spritesheet.gif");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    #download {
        background-position: -50px 0;
    }
}

body {
    background-color: var(--lightModeBkg);

    @include lg {
        display: grid;
        grid-template-areas: "header main";
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: var(--rhythm);
        grid-area: main;
        margin: 0 var(--rhythm);

        section {
            align-items: flex-start;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            gap: var(--rhythm);

            &.title {
                gap: 16px;
                justify-content: center;
                width: 100%;

                h1,
                p {
                    align-self: stretch;

                    @include lg {
                        align-self: auto;
                    }
                }
            }

            &.gallery {
                display: flex;
                flex-direction: column;
                gap: var(--rhythm);

                img {
                    width: 100%;
                }

                &.noGap {
                    gap: 0;
                }

                @include sm {
                    display: grid;

                    &.twoColumn {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    &.threeColumn {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }

                &#archive {
                    img {
                        height: auto;
                        object-fit: cover;
                        width: 100%;
                    }

                    @include sm {
                        align-items: start;
                        grid-auto-rows: auto;

                        img:nth-child(3),
                        img:nth-child(4),
                        img:nth-child(5) {
                            grid-row: span 2;
                        }
                    }
                }

                &#archive,
                &#mainGallery {
                    @include sm {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    @include xl {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }

                &#mainGallery {
                    a {
                        aspect-ratio: 1;
                        background-repeat: no-repeat;
                        padding: var(--rhythm);

                        &.doubleWidth {
                            @include xl {
                                aspect-ratio: 2 / 1;
                                grid-column: span 2;
                            }
                        }

                        .coverInfo {
                            align-items: center;
                            align-self: center;
                            background-color: var(--lightModeBkg);
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            justify-content: center;
                            opacity: 0;
                            padding: var(--rhythm);
                            transition: background 3s;
                            width: 100%;
                        }
                    }
                }
            }

            &#aboutContent {
                align-items: center;
                display: flex;

                @include sm {
                    clear: both;
                    display: block;

                    img {
                        float: left;
                        height: auto;
                        margin-bottom: var(--rhythm);
                        margin-right: var(--rhythm);
                        max-width: 50%;
                    }
                }
            }

            &#resume a {
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 0.25em;
            }
        }
    }
}