/* =============
    Base
============= */
* {
    box-sizing: border-box;
    margin: 0;
}

ul.blankList {
    list-style: none;
    padding: 0;
}

.bulletFix {
    list-style-type: disc !important;
}

img {
    height: 100%;
    max-width: 100%;
    width: auto;
}

.iconLink {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    .icon {
        align-items: center;
        display: flex;
        height: 24px;
        justify-content: center;
        overflow: hidden;
        width: 24px;

        div {
            background: url("/assets/spritesheet.gif");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        #download {
            background-position: -50px 0;
        }

        #web {
            background-position: -75px 0;
        }

        #insta {
            background-position: -100px 0;
        }
    }
}

body {
    background-color: var(--lightModeBkg);

    @include lg {
        display: grid;
        grid-template-areas: "header main";
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: var(--rhythm);
        grid-area: main;
        margin: 0 var(--rhythm);

        section {
            align-items: flex-start;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            gap: var(--rhythm);

            &.title {
                gap: 16px;
                justify-content: center;
                width: 100%;

                h1,
                p {
                    align-self: stretch;

                    @include lg {
                        align-self: auto;
                    }
                }
            }

            &.gallery {
                display: grid;
                flex-direction: column;
                gap: var(--rhythm);

                img {
                    width: 100%;
                }

                &.noGap {
                    gap: 0;
                }

                @include sm {
                    &.twoColumn {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    &.threeColumn {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }

                &#archive {
                    img {
                        height: auto;
                        object-fit: cover;
                        width: 100%;
                    }

                    @include sm {
                        align-items: start;
                        grid-auto-rows: auto;

                        img:nth-child(3),
                        img:nth-child(4),
                        img:nth-child(5) {
                            grid-row: span 2;
                        }
                    }
                }

                &#archive,
                &#mainGallery {
                    @include sm {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    @include xl {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }

                &#mainGallery {
                    a {
                        aspect-ratio: 1;
                        background-repeat: no-repeat;
                        padding: var(--rhythm);

                        &.doubleWidth {
                            @include xl {
                                aspect-ratio: 2 / 1;
                                grid-column: span 2;
                            }
                        }

                        .coverInfo {
                            align-items: center;
                            align-self: center;
                            background-color: var(--lightModeBkg);
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            justify-content: center;
                            opacity: 0;
                            padding: var(--rhythm);
                            transition: background 3s;
                            width: 100%;
                        }
                    }
                }
            }

            &#aboutContent {
                align-items: center;
                display: flex;

                @include sm {
                    clear: both;
                    display: block;

                    img {
                        float: left;
                        height: auto;
                        margin-bottom: var(--rhythm);
                        margin-right: var(--rhythm);
                        max-width: 50%;
                    }
                }
            }

            &.dnSect {
                padding-top: var(--rhythm);
                padding-bottom: var(--rhythm);
                gap: var(--rhythm);
                display: flex;
                flex-direction: column;
                align-items: start;


                @include sm {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                @include lg {}

                p {
                    grid-area: text;
                }

                img:not(.nomax) {
                    max-height: 50vh;
                }

                .img1 {
                    grid-area: img1;
                }

                .img2 {
                    grid-area: img2;
                }

                .img3 {
                    grid-area: img3;
                }

                .img4 {
                    grid-area: img4;
                }

                .img5 {
                    grid-area: img5;
                }

                &#dnIntro {
                    align-items: center;

                    img {
                        grid-area: image;
                        object-fit: cover;
                        width: 100%;
                        justify-self: center;
                    }

                    h2 {
                        width: 100%;
                        grid-area: subhead;
                    }

                    @include sm {
                        grid-template-areas:
                            'image text'
                            'subhead subhead';
                        display: grid;
                        align-items: initial;
                    }
                }

                &#theWindow {
                    justify-items: center;
                    grid-template-areas:
                        'text text'
                        'img1 img2'
                        'img3 img3';

                    img {
                        height: auto;
                    }

                    @include lg {
                        grid-template-areas:
                            'text img1'
                            'img2 img3';
                    }
                }

                &#asp {
                    grid-template-areas:
                        'text text'
                        'img1 img2'
                        'img3 img4';

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }

                    @include lg {
                        grid-template-columns: repeat(5, 1fr);
                        grid-template-areas:
                            'img2 img2 img2 text text'
                            'img2 img2 img2 img1 img1'
                            'img3 img3 img4 img4 img4';
                    }
                }

                &#thoseEyes {
                    grid-template-areas:
                        'text text'
                        'img1 img2'
                        'img3 img4';

                    img {
                        object-fit: cover;
                        height: 100%;
                    }

                    @include lg {
                        grid-template-columns: repeat(6, 1fr);
                        grid-template-areas:
                            'text text text img1 img1 img1'
                            'img2 img2 img3 img3 img4 img4';
                    }
                }

                &#lemonadeStand {
                    grid-template-areas:
                        'text text'
                        'img1 img2'
                        'img3 img4';

                    .img1 {
                        background-color: #7071e5;
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }

                    @include lg {
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-areas:
                            'text img1 img1'
                            'img2 img3 img4';
                    }
                }

                &#dnLinks {
                    display: flex;
                    flex-direction: column;
                    gap: var(--rhythm);

                    @include sm {
                        display: grid;
                        grid-template-columns: repeat(2, 170px);
                        grid-template-areas:
                            'cta cta'
                            'link1 link2';
                    }
                    h2 {
                        grid-area: cta;
                    }
                    &:nth-child(2) {
                        grid-area: link1;
                    }
                    &:nth-child(3) {
                        grid-area: link2;
                    }
                }
            }
        }
    }
}