/* =============
    Base
============= */
* {
    box-sizing: border-box;
}

ul.blankList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bulletFix {
    list-style-type: disc !important;
}

img{
    width: auto;
    height: 100%;
}