/* =============
    Header
============= */
header {
    align-items: center;
    background-color: var(--accentBlue50);
    color: var(--lightModeBkg) !important;
    display: flex;
    flex-direction: column;
    grid-area: header;
    padding: 0 var(--rhythm);
    width: 100%;

    section {
        align-items: center;
        align-self: stretch;
        display: flex;
        gap: var(--rhythm);
        justify-content: space-between;

        #name {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 20px;
            padding: 20px 0 14.5px 0;

            @include sm{
                align-items: center;
            }

            & * {
                margin: 0;
            }

            h1 {
                font-size: 1.875rem;
                font-weight: 800;
            }

            h2 {
                font-size: 1.063em;
                font-weight: 500;
            }
        }

        button {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            height: 36px;
            width: 36px;
            padding: 0;

            #icon {
                border: 1px solid var(--lightModeBkg);
                border-radius: 10px;
                height: 36px;
                width: 36px;
                align-items: center;
                display: flex;
                justify-content: center;
            }

            #burgerX {
                background: url("/assets/spritesheet.gif") no-repeat;
                background-position: 0px 0px;
                background-size: cover;
                height: 16px;
                width: 16px;
            }
        }

    }

    nav {
        display: none;
        margin-bottom: 100px;

        hr {
            color: var(--lightModeBkg);
            width: 100%;
            margin: var(--rhythm) 0;
        }

        ul {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: var(--rhythm);
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;

            a {
                font-size: 1rem;
                font-weight: 400;

                &.navHeader {
                    font-size: 1.25rem;
                    font-weight: 600;
                }
            }
        }

        @include lg{
            margin-bottom: 0;
            display: block;
            height: 100%;
        }
    }
}